<section id="about" class="py-20 bg-gray-200">
    <div class="container mx-auto text-center">
    <h2 class="text-3xl font-bold text-gray-800 mb-4">About Me</h2>
    <p class="text-gray-600 mb-6">Soy un desarrollador web apasionado por crear experiencias interactivas y escalables. Me especializo en tecnologías como Angular, Tailwind CSS, y Node.js.</p>
    <img src="tu-foto.jpg" alt="Mi Foto" class="mx-auto rounded-full w-40 h-40 mb-4">
    <p class="text-gray-600">Aquí puedes agregar más detalles sobre tus proyectos, estudios y cualquier otra información relevante.</p>
    </div>
</section>
