<footer class="bg-blue-600 p-6 text-white text-center">
    <p>&copy; 2024 Mi Portafolio | Todos los derechos reservados</p>
    <div class="mt-4">
    <a href="www.linkedin.com/in/gary-monasterio" class="text-white hover:text-gray-300 mx-2">
        <i class="fab fa-linkedin"></i> LinkedIn
    </a>
    <a href="https://github.com/Dread-9" class="text-white hover:text-gray-300 mx-2">
        <i class="fab fa-github"></i> GitHub
    </a>
    <a href="mailto:garymonasterioaguilera@gmail.com" class="text-white hover:text-gray-300 mx-2">
        <i class="fas fa-envelope"></i> Email
    </a>
    </div>
</footer>
